{% extends 'base.html.twig' %}
{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1>Competition creation</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
                    <input type="submit" value="créer" />
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('competition_index') }}">retour à la list</a>
        </li>
    </ul>
        </div>
{% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
tu veux connecter d'abord
{% endif %}
{% endblock %}
