{% extends 'base.html.twig' %}

{% block body %}
    <h1>Compitiondemande creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('compitiondemande_index') }}">retour à list</a>
        </li>
    </ul>
{% endblock %}
